@import "./style.css";

section {
  width: 100%;
}

.hero {
  color: white;
  position: relative;
  height: 550px;
  height: 90vh;
  overflow: hidden;
}

.hero .slide {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 3s;
  opacity: 0;
  object-fit: cover;
}

.hero .active {
  transition: opacity 3s;
  opacity: 1;
}

.hero .text-container {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 50;
}

.hero h1 {
  font-size: 2.7rem;
  background-color: #6e1f356c;
  box-shadow: 0px 0px 50px #6e1f35;
  border-radius: 50px;
  font-weight: 200;
  line-height: 1.2;
  text-align: center;
}

.hero .btn {
  background-image: url("../Assets/Pages/home/play_button.png");
  padding: 20px 15px;
  width: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  cursor: pointer;
}

.arrow {
  transform: translate(0, -50%);
  position: absolute;
  min-width: 50px;
  width: 3vw;
  cursor: pointer;
}

.prev {
  left: 2%;
  top: 50%;
}
.next {
  right: 2%;
  top: 50%;
}

.hero .dots {
  transform: translate(-50%, -50%);
  position: absolute;
  bottom: 3%;
  left: 50%;
  /* bottom: 30px; */
  display: flex;
  flex-direction: row;
}

.hero .dots li {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50px;
  margin: 0 20px;
}

.hero .dot-active {
  background-color: var(--cred) !important;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 50px;
}

.about .container {
  width: 50vw;
  height: 450px;
  position: relative;
  max-width: 1000px;
}

.about .character {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 700px;
}

.about .title-cont {
  font-size: 1.5rem;
  color: var(--cpurple);
  
}

.about .title-cont img {
  width: 300px;
  margin-top: 10px;
}

.about .container:last-child {
  text-align: center;
}

.about .container:last-child .roboto-text {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 100px;
}

.about a {
  color: var(--corange);
}

.characters {
  background-image: url("../Assets/Pages/home/character-bg.png");
  background-position: bottom;
  background-repeat: no-repeat;
  padding-bottom: 400px;
  min-height: 500px;
}

.characters .title-cont {
  color: white;
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 0px;
  filter: brightness(100) invert(1);
  position: relative;
}

.characters .title-cont img {
  width: 300px;
  margin-top: 10px;
}

.characters .carousel {
  position: relative;
  width: 100%;
  height: 600px;
}

.characters .card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  border-radius: 20px;
  width: 300px;
  /* width: 25vw; */
  z-index: 1;

  transition-property: all;
  transition-timing-function: ease;
  transition-duration: 1s;
}

.characters .middle {
  opacity: 1;
  z-index: 3;
}

.characters .left {
  opacity: 1;
  left: 30%;
  /* width: calc(25vw - 50px); */
  width: 250px;
  z-index: 2;
  filter: grayscale(80%);
}

.characters .right {
  opacity: 1;
  left: 70%;
  /* width: calc(25vw - 50px); */
  width: 250px;
  z-index: 2;
  filter: grayscale(80%);
}

.screenshots {
  background-image: url("../Assets/Pages/home/screenshots_bg.jpg");
  background-position: top;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screenshots .title-cont {
  color: white;
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 50px;
  filter: brightness(0) invert(1);
}

.screenshots .title-cont img {
  width: 300px;
  margin-top: 15px;
}

.screenshots .image {
  width: 70vw;
  margin-bottom: 80px;
}

.screenshots .btn {
  font-size: 1.5rem;
  color: white;
  background-image: url("../Assets/Pages/home/play_button.png");
  padding: 20px 15px;
  width: 300px;
  height: 5rem;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  cursor: pointer;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .about{
    flex-direction: column-reverse;
    /* justify-content: center; */
    align-items: center;
  }
  .about .container{
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .hero .text-container{
    left: 50%;
  }
}
@media screen and (max-width: 762px) {
  .characters .card{
    left: 50% !important;
  }

}
@media screen and (max-width: 576px) {
  .characters .carousel{
    height: 400px;
  }
  .characters .card{
    width: 200px
  }

}
@media screen and (max-width: 428px) {
  .arrow{
    min-width: 30px;
  }
  .hero .dots li{
    width: 20px;
    height: 20px;
  }

  .about .title-cont, .characters .title-cont, .screenshots .title-cont{
    font-size: 1.3rem;
  }
  .about .title-cont img, .characters .title-cont img, .screenshots .title-cont img{
    width: 200px;
  }

  .screenshots .btn{
    font-size: 1rem;
    width: 200px;
  }

  
}