@import "./style.css";

section {
  width: 100%;
}

.hero {
  color: white;
  position: relative;
  height: 550px;
  height: 70vh;
  overflow: hidden;
}

.hero .slide {
  width: 100%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 3s;
  opacity: 0;
}

.hero .active {
  transition: opacity 3s;
  opacity: 1;
}

.hero .text-container {
  position: absolute;
  top: 50%;
  left: 28%;
  transform: translate(-50%, -50%);
  z-index: 50;
}

.hero h1 {
  font-size: 2.7rem;
  background-color: #6e1f356c;
  box-shadow: 0px 0px 50px #6e1f35;
  border-radius: 50px;
  font-weight: 200;
  line-height: 1.2;
  text-align: center;
}

.hero .btn {
  background-image: url("../Assets/Pages/home/play_button.png");
  padding: 20px 15px;
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  cursor: pointer;
}

.hero .arrow {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  min-width: 50px;
  width: 3vw;
  cursor: pointer;
}

.hero .prev {
  left: 5%;
}

.hero .next {
  right: 2%;
}
