<div class="navbar">
  <a href="/"><img class="logo" width="100px" src="./Assets/Pages/home/Logo_Kenshin_Impact.png" alt="" /></a>
  <img class="menu-icon" height="40px" src="./Assets/Pages/home/icons8-menu-480.png" alt="" />
</div>

<div class="menu-container dm-text">
  <div class="tab"><a href="../character.html">Characters</a></div>
  <div class="tab"><a href="../about.html">About Game</a></div>
  <div class="tab"><a href="../gallery.html">Gallery</a></div>
  <div class="tab"><a href="../register.html">Register</a></div>
</div>

<script src="../Javascript/navbar.js"></script>